<%- include('../partials/header') %>
<div class="container container-wrapper col-11 col-sm-11 col-md-8 col-lg-6">

<% if (clucks) {
    for (let cluck of clucks) { %>
    <div class="row container-wrapper">
        <div class="card w-100 p-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <img src="<%= cluck.image_url %>"
                            class="w-100" alt="">
                    </div>
                    <div class="cluck col-10">
                        <div class="cluck-info"><span class="text-primary"><%= cluck.username %></span> • <span class="text-muted"><%= Date(cluck.created_at) %></span></div>
                        <div class="cluck-content mt-3"><%= cluck.content %></div>
                        <!-- if there is any photo in the cluck, img goese in below -->
                        <img src="<%= cluck.image_url %>" class="w-75" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } } %>

</div>
<%- include('../partials/footer') %>
